/* Общие стили */
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #d4d4d4;
    color: #333;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Стили для таблицы */
.table-container {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #dfdfdf;
}

.table-cell {
    padding: 10px;
    flex: 1;
    display: flex;
    border-right: 1px solid #2e2e2eab; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}

.table-row {
    display: flex;
    border-bottom: 1px solid #2e2e2eab;
}

.table-row:last-child {
    border-bottom: none;
}

.table-row:hover {
    background-color: #8a8a8a6e;
}

.table-row .table-cell:last-child {
    border-right: none;
}

.table-header {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    flex: 1;
    border-right: 1px solid #c7c7b3;
}

.table-header:last-child {
    border-right: none; 
}


/* Стили Изображение */
.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*-----------------Что-то-----------------*/
.icon-slaim-list {
    display: inline-block; 
    background-image: url('image/slimes-all.gif');
    width: 704px; 
    height: 704px;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center; 
}

.icon-slaim-list-container {
    text-align: center; 
    margin-bottom: 20px; 
}

@media (max-width: 768px) {
    .icon-slaim-list {
        width: 440px; 
        height: 440px;
    }
}
/*-----------------Все-слаймы-----------------*/
.icon-slaim-grey {
    display: inline-block;
    vertical-align: middle;
    background-image: url('image/Xenobiology/64/grey.gif');
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
                    /* 1ур */
.icon-slaim-orange {
    display: inline-block;
    background-image: url('image/Xenobiology/64/orange.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
.icon-slaim-purple {
    display: inline-block;
    background-image: url('image/Xenobiology/64/purple.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
.icon-slaim-blue {
    display: inline-block;
    background-image: url('image/Xenobiology/64/blue.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
.icon-slaim-metal {
    display: inline-block;
    background-image: url('image/Xenobiology/64/metal.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
                    /* 2ур */
.icon-slaim-yellow {
    display: inline-block;
    background-image: url('image/Xenobiology/64/yellow.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
.icon-slaim-dark-purple {
    display: inline-block;
    background-image: url('image/Xenobiology/64/dark-purple.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
.icon-slaim-dark-blue {
    display: inline-block;
    background-image: url('image/Xenobiology/64/dark-blue.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
.icon-slaim-silver {
    display: inline-block;
    background-image: url('image/Xenobiology/64/silver.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
                    /* 3ур */
.icon-slaim-bluespace {
    display: inline-block;
    background-image: url('image/Xenobiology/64/bluespace.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
.icon-slaim-sepia {
    display: inline-block;
    background-image: url('image/Xenobiology/64/sepia.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
.icon-slaim-cerulean {
    display: inline-block;
    background-image: url('image/Xenobiology/64/cerulean.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
.icon-slaim-pyrite {
    display: inline-block;
    background-image: url('image/Xenobiology/64/pyrite.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
                    /* 4ур */
.icon-slaim-red {
    display: inline-block;
    background-image: url('image/Xenobiology/64/red.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
.icon-slaim-green {
    display: inline-block;
    background-image: url('image/Xenobiology/64/green.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
.icon-slaim-pink {
    display: inline-block;
    background-image: url('image/Xenobiology/64/pink.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
.icon-slaim-gold {
    display: inline-block;
    background-image: url('image/Xenobiology/64/gold.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
                    /* 5ур */
.icon-slaim-oil {
    display: inline-block;
    background-image: url('image/Xenobiology/64/oil.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
.icon-slaim-dark-black {
    display: inline-block;
    background-image: url('image/Xenobiology/64/black.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
.icon-slaim-light-pink {
    display: inline-block;
    background-image: url('image/Xenobiology/64/light-pink.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
.icon-slaim-adamantite {
    display: inline-block;
    background-image: url('image/Xenobiology/64/adamantite.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
                    /* спец ур */
.icon-slaim-rainbow {
    display: inline-block;
    background-image: url('image/Xenobiology/64/rainbow.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
.icon-slaim-all {
    display: inline-block;
    background-image: url('image/Xenobiology/64/all.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 128px;
    height: 128px;
    background-position: 0 0;
}
/*--------------------------------------------*/
.reproductive {
    display: inline-block;
    background-image: url('image/slimecrossing/reproductive.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

.burning {
    display: inline-block;
    background-image: url('image/slimecrossing/burning.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

.regenerative {
    display: inline-block;
    background-image: url('image/slimecrossing/regenerative.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

.stabilized {
    display: inline-block;
    background-image: url('image/slimecrossing/stabilized.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

.industrial {
    display: inline-block;
    background-image: url('image/slimecrossing/industrial.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

.charged {
    display: inline-block;
    background-image: url('image/slimecrossing/charged.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

.selfsustaining {
    display: inline-block;
    background-image: url('image/slimecrossing/selfsustaining.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

.сhilling {
    display: inline-block;
    background-image: url('image/slimecrossing/chilling.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

.consuming {
    display: inline-block;
    background-image: url('image/slimecrossing/consuming.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

.recurring {
    display: inline-block;
    background-image: url('image/slimecrossing/recurring.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

.prismatic {
    display: inline-block;
    background-image: url('image/slimecrossing/prismatic.gif');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    width: 32px;
    height: 32px;
    background-position: 0 0;
}

/*--------------------------------------------*/

.icon-text {
    font-size: 0.8em;
}


.bluesface-icon {
    width: 100px;
    height: 100px;
    background-position: 1 1; /* Пример координат */
}

.adamantite-icon {
    width: 96px;
    height: 96px;
    background-position: 0 0; /* Пример координат */
}

/* ... Стили для остальных иконок ... */

/* Стили для ячеек с информацией */
.info-cell {
    text-align: left;
    display: none; /* Скрываем по умолчанию */
    padding: 10px;
    border: 1px solid #ddd;
}

.info-cell p {
    margin: 0;
}

.table-row:hover {
    background-color: #8a8a8a6e;
}


/* Стили для темной темы */
.dark-mode .table-container {
    background-color: #222;
    color: #f4f4f4;
    box-shadow: 0 0 10px #ffffff1a;
}

.dark-mode .table-header {
    background-color: #333;
    color: #f4f4f4;
    border-bottom: 1px solid #555;
    border-right: 1px solid #555;
}

.dark-mode .table-row {
    border-bottom: 1px solid #555;
}

.dark-mode .info-cell {
    border: 1px solid #555;
    color: #f4f4f4;
}
/*--------------------------*/


/*             Вкладки             */
/*               0-1               */
.dark-mode .collapsible-button {
    background-color: #222;
    color: #f4f4f4;
    box-shadow: 0 0 0px #ffffff1a;
}
.dark-mode .table-cell {
    border-bottom: 1px solid #555;
    border-right: 1px solid #555; 
}
.collapsible-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
.collapsible-content {
    display: block; 
    max-height: 1200px; 
    overflow: hidden;
    transition: max-height 1.0s ease-out;
}
/* Скрываем контент */
.collapsible-content.collapsed {
    max-height: 0; 
}

/*               2-3               */
.dark-mode .collapsible-button-1 {
    background-color: #222;
    color: #f4f4f4;
    box-shadow: 0 0 0px #ffffff1a;
}
.dark-mode .table-cell {
    border-bottom: 1px solid #555;
    border-right: 1px solid #555; 
}
.collapsible-button-1 {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
.collapsible-content-1 {
    display: block; 
    max-height: 1900px; 
    overflow: hidden;
    transition: max-height 1.0s ease-out;
}
/* Скрываем контент */
.collapsible-content-1.collapsed {
    max-height: 0; 
}

/*               4               */
.dark-mode .collapsible-button-2 {
    background-color: #222;
    color: #f4f4f4;
    box-shadow: 0 0 0px #ffffff1a;
}
.dark-mode .table-cell {
    border-bottom: 1px solid #555;
    border-right: 1px solid #555; 
}
.collapsible-button-2 {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
.collapsible-content-2 {
    display: block; 
    max-height: 1850px; 
    overflow: hidden;
    transition: max-height 1.0s ease-out;
}
/* Скрываем контент */
.collapsible-content-2.collapsed {
    max-height: 0; 
}

/*               5               */
.dark-mode .collapsible-button-3 {
    background-color: #222;
    color: #f4f4f4;
    box-shadow: 0 0 0px #ffffff1a;
}
.dark-mode .table-cell {
    border-bottom: 1px solid #555;
    border-right: 1px solid #555; 
}
.collapsible-button-3 {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
.collapsible-content-3 {
    display: block; 
    max-height: 1500px; 
    overflow: hidden;
    transition: max-height 1.0s ease-out;
}
/* Скрываем контент */
.collapsible-content-3.collapsed {
    max-height: 0; 
}

/*               6               */
.dark-mode .collapsible-button-4 {
    background-color: #222;
    color: #f4f4f4;
    box-shadow: 0 0 0px #ffffff1a;
}
.dark-mode .table-cell {
    border-bottom: 1px solid #555;
    border-right: 1px solid #555; 
}
.collapsible-button-4 {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
.collapsible-content-4 {
    display: block; 
    max-height: 500px; 
    overflow: hidden;
    transition: max-height 1.0s ease-out;
}
/* Скрываем контент */
.collapsible-content-4.collapsed {
    max-height: 0; 
}

        /*----------------------------------------------------------*/

/* Стили для таблицы внутри секции "Репродуктивный", чтобы описание было шире */
.reproductive-table .table-row .table-cell:first-child {
    flex: 0 0 200px; 
    max-width: 200px; 
    min-width: 200px; 
}

.reproductive-table .table-row .table-cell:last-child {
    flex: 1; 
}

.reproductive-table .table-row.header-row .table-header:first-child {
    flex: 0 0 200px; 
    max-width: 200px;
    min-width: 200px;
}

.reproductive-table .table-row.header-row .table-header:last-child {
    flex: 1; 
}

.reproductive-table .table-cell.icon-button {
    flex: 0 0 200px; 
    max-width: 200px;
    min-width: 200px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.reproductive-table .table-cell.icon-button span {
    white-space: nowrap;
}
/*---------------------------------------*/
    /*               1               */
.dark-mode .collapsible-button-5 {
    background-color: #222;
    color: #f4f4f4;
    box-shadow: 0 0 0px #ffffff1a;
}
.dark-mode .table-cell {
    border-bottom: 1px solid #555;
    border-right: 1px solid #555; 
}
.collapsible-button-5 {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
.collapsible-content-5 {
    display: block; 
    max-height: 300px; 
    overflow: hidden;
    transition: max-height 1.5s ease-out;
}
/* Скрываем контент */
.collapsible-content-5.collapsed {
    max-height: 0; 
}
/*               2               */
.dark-mode .collapsible-button-6 {
    background-color: #222;
    color: #f4f4f4;
    box-shadow: 0 0 0px #ffffff1a;
}
.dark-mode .table-cell {
    border-bottom: 1px solid #555;
    border-right: 1px solid #555; 
}
.collapsible-button-6 {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.collapsible-content-6 {
    display: block; 
    max-height: 3400px; 
    overflow: hidden;
    transition: max-height 1.5s ease-out;
}
/* Скрываем контент */
.collapsible-content-6.collapsed {
    max-height: 0; 
}
/*               3               */
.dark-mode .collapsible-button-7 {
    background-color: #222;
    color: #f4f4f4;
    box-shadow: 0 0 0px #ffffff1a;
}
.dark-mode .table-cell {
    border-bottom: 1px solid #555;
    border-right: 1px solid #555; 
}
.collapsible-button-7 {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.collapsible-content-7 {
    display: block; 
    max-height: 3400px; 
    overflow: hidden;
    transition: max-height 1.5s ease-out;
}
/* Скрываем контент */
.collapsible-content-7.collapsed {
    max-height: 0; 
}
/*               4               */
.dark-mode .collapsible-button-8 {
    background-color: #222;
    color: #f4f4f4;
    box-shadow: 0 0 0px #ffffff1a;
}
.dark-mode .table-cell {
    border-bottom: 1px solid #555;
    border-right: 1px solid #555; 
}
.collapsible-button-8 {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.collapsible-content-8 {
    display: block; 
    max-height: 3400px; 
    overflow: hidden;
    transition: max-height 1.5s ease-out;
}
/* Скрываем контент */
.collapsible-content-8.collapsed {
    max-height: 0; 
}
/*               5               */
.dark-mode .collapsible-button-9 {
    background-color: #222;
    color: #f4f4f4;
    box-shadow: 0 0 0px #ffffff1a;
}
.dark-mode .table-cell {
    border-bottom: 1px solid #555;
    border-right: 1px solid #555; 
}
.collapsible-button-9 {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.collapsible-content-9 {
    display: block; 
    max-height: 3400px; 
    overflow: hidden;
    transition: max-height 1.5s ease-out;
}
/* Скрываем контент */
.collapsible-content-9.collapsed {
    max-height: 0; 
}
/*               6               */
.dark-mode .collapsible-button-10 {
    background-color: #222;
    color: #f4f4f4;
    box-shadow: 0 0 0px #ffffff1a;
}
.dark-mode .table-cell {
    border-bottom: 1px solid #555;
    border-right: 1px solid #555; 
}
.collapsible-button-10 {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.collapsible-content-10 {
    display: block; 
    max-height: 3400px; 
    overflow: hidden;
    transition: max-height 1.5s ease-out;
}
/* Скрываем контент */
.collapsible-content-10.collapsed {
    max-height: 0; 
}
/*               7               */
.dark-mode .collapsible-button-11 {
    background-color: #222;
    color: #f4f4f4;
    box-shadow: 0 0 0px #ffffff1a;
}
.dark-mode .table-cell {
    border-bottom: 1px solid #555;
    border-right: 1px solid #555; 
}
.collapsible-button-11 {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.collapsible-content-11 {
    display: block; 
    max-height: 800px; 
    overflow: hidden;
    transition: max-height 1.5s ease-out;
}
/* Скрываем контент */
.collapsible-content-11.collapsed {
    max-height: 0; 
}
/*               8               */
.dark-mode .collapsible-button-12 {
    background-color: #222;
    color: #f4f4f4;
    box-shadow: 0 0 0px #ffffff1a;
}
.dark-mode .table-cell {
    border-bottom: 1px solid #555;
    border-right: 1px solid #555; 
}
.collapsible-button-12 {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.collapsible-content-12 {
    display: block; 
    max-height: 3400px; 
    overflow: hidden;
    transition: max-height 1.5s ease-out;
}
/* Скрываем контент */
.collapsible-content-12.collapsed {
    max-height: 0; 
}
/*               9               */
.dark-mode .collapsible-button-13 {
    background-color: #222;
    color: #f4f4f4;
    box-shadow: 0 0 0px #ffffff1a;
}
.dark-mode .table-cell {
    border-bottom: 1px solid #555;
    border-right: 1px solid #555; 
}
.collapsible-button-13 {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.collapsible-content-13 {
    display: block; 
    max-height: 3400px; 
    overflow: hidden;
    transition: max-height 1.5s ease-out;
}
/* Скрываем контент */
.collapsible-content-13.collapsed {
    max-height: 0; 
}/*              10               */
.dark-mode .collapsible-button-14 {
    background-color: #222;
    color: #f4f4f4;
    box-shadow: 0 0 0px #ffffff1a;
}
.dark-mode .table-cell {
    border-bottom: 1px solid #555;
    border-right: 1px solid #555; 
}
.collapsible-button-14 {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.collapsible-content-14 {
    display: block; 
    max-height: 400px; 
    overflow: hidden;
    transition: max-height 1.5s ease-out;
}
/* Скрываем контент */
.collapsible-content-14.collapsed {
    max-height: 0; 
}/*              11               */
.dark-mode .collapsible-button-15 {
    background-color: #222;
    color: #f4f4f4;
    box-shadow: 0 0 0px #ffffff1a;
}
.dark-mode .table-cell {
    border-bottom: 1px solid #555;
    border-right: 1px solid #555; 
}
.collapsible-button-15 {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.collapsible-content-15 {
    display: block; 
    max-height: 400px; 
    overflow: hidden;
    transition: max-height 1.5s ease-out;
}
/* Скрываем контент */
.collapsible-content-15.collapsed {
    max-height: 0; 
}