
.Ash-reagent{
    color: #515151;
}

.Oil-reagent{
    color: white;
}

.Acetone-reagent{
    color: #AF14B7;
}

.Diethylamine-reagent{
    color: #604030;
}

.Phenol-reagent{
    color: #E7EA91;
}

.Ammonia-reagent{
    color: #404030;
}

.Saltpetre-reagent{
    color: #60A584;
}

.Sodium-Chloride-reagent{
    color: #0c0c0c;
}