.Ash-reagent{
    color: #515151;
}

.Oil-reagent{
    color: #2D2D2D;
}

.Acetone-reagent{
    color: #AF14B7;
}

.Diethylamine-reagent{
    color: #604030;
}

.Phenol-reagent{
    color: #E7EA91;
}

.Ammonia-reagent{
    color: #404030;
}

.Saltpetre-reagent{
    color: #60A584;
}

.Sodium-Chloride-reagent{
    color: #FFFFFF;
}

.Lye-reagent{
    color: #FFFFD6;
}

.Hydrogen-Peroxide-reagent{
    color: #AAAAAA77;
}

.Pentaerythritol-reagent{
    color: #E66FFF;
}

.Acetaldehyde-reagent{
    color: #EEEEEF;
}

.Acetone-Oxide-reagent{
    color: #C8A5DC;
}

.Wittel-reagent{
    color: #FFFFFF;
}

.Hyper-Plasmium-Oxide-reagent{
    color: #470750;
}

.Exotic-Stabilizer-reagent{
    color: #180000;
}
Агентов

.Acidic-Buffer-reagent{
    color: #fbc314;
}

.Basic-Buffer-reagent{
    color: #3853a4;
}